/*! == VARIABLES == */

/* COLORS */
$color_brand_main: #4b0006;
$color_brand_highlight: #cc9933;

$color_orange: #ff7141;
$color_red: #931115;  //
$color_dark_red: #310203;
$color_blue: #4B70FF;

$color_grey_darkest: #4a4a49;
$color_grey_dark: #888;
$color_grey_mid: #d6d6d6;
$color_grey_light: #c0c0c0;
$color_grey_lighter: #e2e2e2;
$color_grey_lightest: #f2f2f2;

/* TYPOGRAPHY */
$font_primary: adobe-caslon-pro, serif;
$font_secondary: roboto, sans-serif;
$font_size: 14;
$font_line-height: 20;

/* EFFECTS */
$fastEffect: all 0.5s ease;
$slowEffect: all 1s ease;

$vertical-space: 3rem;
